@model laboratorio2.ViewModels.AlmacenViewModels
@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("Registropersona", "Home", FormMethod.Post))
{
    <div id="latabla"class="border col-12, text-center">
        <br />
        @Html.LabelFor(e => e.Nombre)
        @Html.TextBoxFor(e => e.Nombre)
        @Html.ValidationMessageFor(e => e.Nombre)
        <br />
        @Html.LabelFor(e => e.Edad)
        @Html.TextBoxFor(e => e.Edad)
        @Html.ValidationMessageFor(e => e.Edad)
        <br />
        @Html.LabelFor(e => e.Descripcion)
        @Html.TextBoxFor(e => e.Descripcion)
        @Html.ValidationMessageFor(e => e.Descripcion)
        <br />
        <br />
        <button type="submit">Enviar</button>
    </div>

}